.advanced-filter {
  @extend .form-input;
  font-weight: bold;
  color: #333;
  i {
    margin-right: 10px;
  }
  &.showing {
    background: #505050;
    color: white;
  }
}

.advanced-filter-tablewrapper {
  margin: 30px;
  thead {
    font-weight: bold;
  }
}


.filter-controls .inner{
  display: flex;
}
