$dropdown-width: 140px;
$dropdown-height: 20px;

.dropdown-wrapper {
  position: relative;
  .dropdown {
    @extend .form-input;
    @extend .drop-shadow;
    @extend .gradient-light;
    position: relative;
    margin: 0 10px;
    height: $dropdown-height;
    .current-value {
      color: #333;
    }
    img {
      position: absolute;
      top: 10px;
      right: 15px;
    }
  }

  select {
    position: absolute;
    top: 5px;
    left: 0;
    height: $dropdown-height;
    margin: 0 10px;
    opacity: 0;
  }
}
