.pageInfo {
  border-bottom: 1px solid #C5C5C5;
  background: #f8f8f8;
  overflow: hidden;
  padding: 0 $global-padding;
  h2 {
    float: left;
  }
  .controls {
    float: right;
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
}
